

/*UTILITIES*/
.bg-green{
  background-color: #18b098
}



.star-container {
    font-size: 30px;
    font-weight: 900;

}

.star-container i {
  line-height: 4px;
  vertical-align: middle;
}

.star-container::before,
.star-container::after {
  content: '';
  display: inline-block;
  width: 100px;
  height: 4px;
  border-radius: 2px;
  vertical-align: middle;
}

.star-container.star-white::before,
.star-container.star-white::after {
  background-color: white;
}

.star-container.star-white{
  color:white;
}

.star-container.star-dark::before,
.star-container.star-dark::after {
  background-color: #2c3e50;
}

.star-container.star-dark{
  color:#2c3e50;
}

/*END UTILITIES*/


/*NAVBAR*/
.bl-navbar{
  height: 80px;
  background-color: #283850;
  margin-bottom: 0;
  border: 0;
  border-radius: 0;

}

.bl-navbar .navbar-toggle{
  margin-top: 23px;
}

.bl-navbar .navbar-brand,
.bl-navbar .navbar-nav > li > a:focus,
.bl-navbar.navbar-default .navbar-nav > li > a{
  color: #fff;
  line-height: 50px;

  height: 80px;
}

.bl-navbar .navbar-brand:hover,
.bl-navbar .navbar-nav > li > a:focus,
.bl-navbar.navbar-default .navbar-nav > li > a:hover{
  color: #18b098;
}
/*END NAVBAR*/

/*JUMBOTRON*/
.jumbotron-freelancer{

  height: 400px;
  color: #fff;
  padding: 20px 20px;
}

.jumbotron-container{
  text-align: center;
}



.jumbotron-container  img{
  width: 200px;

}

.fa.fa-star{
  font-size: 25px;
}


.jumbotron-freelancer .jumbotron-container h3{
  font-size: 13px;
}

/*END JUMBOTRON*/

/*PORTFOLIO*/
.portfolio{
  text-align: center;
  background-color: #fff;
}

.portfolio h3{
  margin-top: 40px;
}


.images-portfolio{
  margin: 15px 0;
}


.images-portfolio img{
  width: 100%;
  border-radius: 6px;
}


/*END PORTFOLIO*/


/*ABOUT*/
.about{

  text-align: center;
  color: #fff;
  padding: 35px 20px;;
  margin-top: 30px;
}

.about-desc-container{
  padding: 0 62px;
  margin: 15px 0;
  text-align: left;
}

.fa.fa-download{
  margin-right: 3px;
}

.btn.btn-primary{
  background-color: inherit;
  border: 1px solid #fff;
  margin-top: 35px;
}

/*END ABOUT*/

/*CONTACT-ME*/
.contact-me{
  background-color: #fff;
  padding: 30px 70px 0;;
  text-align: center;
}

.bl-form .form-control{
  padding: 0;
  box-shadow: none;
}

.bl-form ::placeholder{
  color: #333;
}

.bl-form .form-group input,
.bl-form .form-group textarea{
  border: 0;
  border-bottom: 1px solid #ccc;
}

.bl-form .btn{
  margin-bottom: 30px;
  display: block;
  background-color: #18b098;
  padding: 10px 15px;
  font-weight: 700;
}

.bl-form .btn-success:hover{
  border-color: #000;
}

/*  END CONTACT-ME*/

footer{

  background-color: #385068;
  padding-top: 20px;
  text-align: center;
  color: #fff;
}

/*footer .container .row:first-of-type{
  margin: 30px 0;
}

 footer .container .row .col-xs-12:nth-of-type(2) h4,
 footer .container .row .col-xs-12:nth-of-type(3) h4{
  margin-top: 40px;
} */

footer [class*="col-"]{
  margin-top: 30px;
}

footer [class*="col-"]:last-child{
  margin-bottom: 30px;
}

footer p{
  font-size: 18px;
}

.icon-container{
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 30px;
  position: relative;
  margin-right: 5px;
}

.icon-container i{
  position: absolute;
  font-size: 25px;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
}

footer a{
  color: #68c8b0;
}

footer a:hover{
  color: #fff;
  text-decoration: none;
}



.last-row{
  background-color: #283850;
  height: 120px;



}

 footer .row:last-child{
  margin: 0;
}

.last-row p{
  line-height: 120px;
  margin: 0;
}

footer .container .row div:first-child{
  padding: 0 30px;
}


/*MEDIA QUERY*/
@media screen and (min-width:768px){


/*JUMBOTRON-CONTAINER*/

 .jumbotron-container h3 strong{
  font-size: 15px;

}
/*END JUMBOTRON-CONTAINER*/
 h3{
  font-size: 30px;
}

/*ABOUT*/
 .about-desc-container{
  padding: 0 20px;
}

.about-desc-container p{
  font-size: 18px;

}
/*END ABOUT*/
/*CONTACT-ME*/
.bl-form .form-control{
  width: 80%;

}
/*END CONTACT-ME*/



/*FOOTER*/
 .icon-container{
  padding: 20px;

}

.icon-container i{
  font-size: 16px;
}

footer p{
  font-size: 12px;
}

/*END FOOTER*/
}
/*END MEDIA QUERY*/
