


nav{
  height: 80px;
  background-color: #283850;
}

/*JUMBOTRON*/
.jumbotron-freelancer{
  background-color: #18b098;
  height: 400px;
  color: #fff;
  padding: 20px 20px;
}

.jumbotron-container{
  text-align: center;
}



.jumbotron-container  img{
  width: 200px;

}

.fa.fa-star{
  font-size: 25px;
}

.star-container:after{
  content: '';
  display: inline-block;
  height: 3px;
  background-color: #fff;
  width: 40px;
  margin-bottom: 8px;
  margin-left: 6px;
  border-radius: 2px;
}

.star-container:before{
  content: '';
  display: inline-block;
  height: 3px;
  background-color: #fff;
  width: 40px;
  margin-bottom: 8px;
  margin-right: 6px;
  border-radius: 2px;

}

.jumbotron-freelancer .jumbotron-container h3{
  font-size: 13px;
}

/*END JUMBOTRON*/

/*PORTFOLIO*/
.portfolio{
  text-align: center;
  background-color: #fff;
}

.portfolio h3{
  margin-top: 40px;
}

.star-container{
  margin-top: 20px;
}

.portfolio .star-container:before,
.contact-me .star-container:before{
  content: '';
  display: inline-block;
  height: 3px;
  width: 40px;
  margin-bottom: 8px;
  margin-left: 6px;
  border-radius: 2px;
  background-color: #333;
}

.portfolio .star-container:after,
.contact-me .star-container:after{
  content: '';
  display: inline-block;
  height: 3px;
  width: 40px;
  margin-bottom: 8px;
  margin-right: 6px;
  border-radius: 2px;
  background-color: #333;
}

.images-portfolio{
  margin: 15px 0;
}


.images-portfolio img{
  width: 100%;
  border-radius: 6px;
}


/*END PORTFOLIO*/


/*ABOUT*/
.about{
  background-color: #18b098;
  text-align: center;
  color: #fff;
  padding: 25px 20px;;
  margin-top: 30px;
}

.about-desc-container{
  padding: 0 62px;
  margin: 15px 0;
  text-align: left;
}

.fa.fa-download{
  margin-right: 3px;
}

.btn.btn-primary{
  background-color: inherit;
  border: 1px solid #fff;
  margin-top: 35px;
}

/*END ABOUT*/

/*CONTACT-ME*/
.contact-me{
  background-color: #fff;
  padding: 30px 80px 0;;
  text-align: center;
}

.form-control{
  text-align: left;
}

/*  END CONTACT-ME*/

footer{

  background-color: #385068;
  padding-top: 20px;
  text-align: center;
  color: #fff;
}

footer .container .row:first-of-type{
  margin: 30px 0;
}

 footer .container .row .col-xs-12:nth-of-type(2) h4,
 footer .container .row .col-xs-12:nth-of-type(3) h4{
  margin-top: 40px;
}



.icon-container{
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 30px;
  position: relative;
  margin-right: 5px;
}

.icon-container i{
  position: absolute;
  font-size: 25px;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
}

footer a{
  color: #68c8b0;
}

footer a:hover{
  color: #fff;
  text-decoration: none;
}



.last-row{
  background-color: #283850;
  height: 120px;
  margin: 0;

}

footer .row:last-child{
  margin: 0;
}

.last-row p{
  line-height: 120px;
  margin: 0;
}
